<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
	<appSettings>
		<add key="Cvisible" value="1"/> <!-- Set "1" the interface is visible, while if you set "0" the interface works in the background -->
		<add key="application_01" value="cmd"/> <!-- the name of the application to monitor -->
		<add key="Enable_Time" value="0"/> <!-- set "1" the emails will be sent in the time you set in the "Time_min" option if you set "0" the option to send emails in the programmed time will be blocked. -->
		<add key="Time_min" value="1"/> <!-- Time in minutes -->
		<add key="send_opening_software" value="1"/> <!-- if set to "1" the emails will be sent when the software is executed if set to "0" the emails will not be sent. program will default is 1 >>-->
		<add key="Mail_smtp" value="smtp.com"/> <!-- mail smtp -->
		<add key="Mail_User" value="mail@gmail.com" />	<!-- configure your mail -->
		<add key="Mail_Pass" value="pass123456"/> <!-- enter the e-mail password -->
		<add key="Mail_Port" value="587"/> <!-- Communication port -->
		<add key="Mail_Profile" value="Alert CX-P"/> <!-- Mail profile -->
		<add key="Mail_send" value="mail@gmail.com"/>	<!-- The e-mail address to whom to send the alert -->
		<add key="Mail_cc" value="mai01@gmail.com,mai02@gmail.com,mai03@gmail.com,mai04@gmail.com,mai05@gmail.com"/> <!-- In addition to the main target audience, separate emails with a comma.  -->
		<add key="Mail_subject" value="¡Alert Open CMD!"/> <!-- Subject -->
		<add key="Mail_data00" value="As requested, here are the system details."/>	<!-- program will default -->
		<add key="Mail_data01" value="Please note that these details are provided for your reference only and no action is required from your end at this time."/>	<!-- program will default -->
		<add key="Mail_data02" value="If you have any questions or concerns, please do not hesitate to contact the IT systems department."/> <!-- program will default -->
		<add key="Mail_data03" value="Best regards."/>		<!-- program will default -->
		<add key="App_name" value="Application: "/> <!-- program will default  -->
		<add key="App_status" value="Application status: "/> <!-- program will default -->
		<add key="App_run" value="run"/> <!-- program will default -->
		<add key="App_stop" value="Stop"/> <!-- program will default -->
		<add key="App_IP" value="IP address: "/> <!-- program will default -->
		<add key="App_Hostname" value="Name of the computer: "/> <!-- program will default -->
		<add key="App_username" value="Username: "/> <!-- program will default -->
	</appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>